/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* selectors */

body {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom right, rgb(255, 192, 197), green);
    transition: ease-in-out 0.5s;
}
.todoListArea{
 width: 40%;
 margin: 70px auto;
/* background-color:#7efc0094 ; */
padding: 20px;
min-width: 441;
height: 74vh;
}

.todos{
    /* background-color: #ffd800; */
     height: 65vh;
     margin-top: 20px;
     overflow: auto;
}

.textInput{
    width: 75%;
    padding: 5px;
    border: none;
    border-radius: 3px;
    height: 20px;
}

.formButton{
    width: 22%;
    border-radius: 3px;
    border: none;
    height: 30px;
    transition: ease-in-out 0.5s;
    padding: 5px;

}

.formButton:hover{
    background-color: rgb(255, 192, 197);
    transition: ease-in-out 0.5s;
}

.todo{
    padding: 10px;
    background-color:rgb(255, 255, 255, 0.8);
    border-radius: 3px;
    width: 95.25;
    margin-bottom: 10px;
}

.todoHeading {
    width: 90%;
}

.close{
    float: right;
    color: pink;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color:rgb(255, 255, 255, 0.8);
}

.close:hover{
    color: purple;
}